main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .login-form {
    width: 30vw;
    display: grid;
    border: 1px solid black;
    padding: 1rem;
    border-radius: 10px;

    .login-button-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}
