.navigation-wrapper {
  position: absolute;
  top: 2rem;
  right: 50%;
}

ul {
  padding: 0;
  background-color: pink;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  li {
    padding: 0;
  }
}
