.galleryWrapper {
  display: grid;
  justify-content: center;
  min-height: 100vh;
  gap: 0.5rem;
  padding: 0.5rem 0;
  div {
    scroll-behavior: smooth;
  }
  .image-wrapper figure:hover img {
    opacity: 0.5;
  }
  .image-wrapper figure img {
    opacity: 1;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
  }
  .image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      object-fit: contain;
    }

    .overlay {
      z-index: 1;
      max-height: 40%;
      position: absolute;
      text-align: center;
      max-width: 35vw;
      color: white;
      opacity: 1;
      transition: opacity 0.3s;
      &:hover {
        opacity: 1;
      }
    }
  }
}
