.galleryWrapper {
  display: grid;
  justify-content: center;
  min-height: 100vh;
  gap: 0.5rem;
  padding: 0.5rem 0;
  div {
    scroll-behavior: smooth;
  }
  .image-wrapper {
    img {
      width: 60vw;
      max-height: 90vh;
      object-fit: contain;
    }
    .overlay {
      position: absolute;
      width: 100vw;
      background-color: rgba(0, 0, 0, 0.5);
      opacity: 1;
      transition: opacity 0.3s;
      &:hover {
        opacity: 1;
      }
    }
  }
}
