:root {
  --background-color: #fbeee0;
  --color-dark-brow: #422800;
  --color-dark-brown-02: rgba(66, 40, 0, 0.2);
  --color-dark-brown-14: rgba(66, 40, 0, 0.14);
  --color-dark-brown-12: rgba(66, 40, 0, 0.12);
}

header,
body {
  background: var(--background-color);
}

body {
  margin: 0;
  scroll-behavior: smooth;
  .svg {
    height: 30px;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
