:root {
  --background-color: #c9d6ff;
}

header,
body {
  background: var(--background-color);
}

body {
  margin: 0;
  scroll-behavior: smooth;
  .svg {
    height: 48px;
  }
}

@keyframes jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
